{% extends "base.html" %}
{% set active_page="register" %}
{% set navigation_bar = [
    (url_for('index'), 'index', 'Home'),
    (url_for('login'), 'login', 'Login'),
    (url_for('register'), 'register', 'Register')
    ] %}
{% block content %}
<form action="{{ url_for('register') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.email.label }} {{ form.email() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.confirm.label }} {{ form.confirm() }}<br>
    <input type="submit" value="Submit">
</form>
{% endblock %}