{% raw %}
{% extends "base.html" %}
{% set active_page="login" %}
{% block content %}
<div class="container">
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class_="form-control") }}<br>
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password(class_="form-control") }}<br>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
<p>
    Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
</p>
{% endblock %}
{% endraw %}
